body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo {
  color: red;
}

.toastMyStyle {
  padding-bottom: 80px;
}

.employeeContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.employeeContainer_info {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 5px auto;
}

.employeeContainer_label {
  width: 20%;
}

.doubleShiftCutTime {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.form-control {
  width: 80%;
}

.selectContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.checkBox {
  margin-left: 15px;
  display: flex;

}

.form-check-input {
  width: 1.5em !important;
  height: 1.5em !important;
}

.form-select:disabled {
  background-color: #b0365f !important;
}


.showByStoreComponent {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.showByStoreComponent canvas {
  margin: auto;
  /* width: 85% !important;
  display: flex !important;
  height: 125% !important; */
}

.bottonMenuContainer {
  width: 100%;
  position: fixed;
  bottom: -6px;
  z-index: 500;
}

.bottonMenuContainer::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 75px;
  background-color: #242629;
}

.bottomMenu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;

  img {
    height: 30px;
  }
}

.changeTimeContainer {
  width: 100%;
}

.shiftListComponent {
  font-size: small;
  margin-top: 25px;
}

.notificationButtonContainer {
  width: 15%;
  position: fixed;
  top: 10px;
  right: 10px;

  button {
    all: unset;
    cursor: pointer;
    width: 100%;

    img {
      width: 100%;
    }

    ;
  }
}

.calendarNotification_container {
  width: 80%;
  margin: auto;
}

.cardNotifications {
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.mainGraphicContainer {
  a {
    text-decoration: none;
    color: inherit;
  }
}